body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 10px 10px;
}
.decoration {
  position: fixed;
  left: 0;
  top: calc(50% - 125px);
}
.container-day {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.container-code {
  z-index: 2;
}
.replit {
  padding: 10px;
  background: rgb(235,235,235);
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  font-family: sans-serif;
  color: black;
  font-size: 0.8em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 130px;
}
.replit svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}