body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 10px 10px;
}
.decoration {
  position: fixed;
  bottom: 0;
  left: calc(50% - 125px);
}