body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Pastel-Aesthetic-Christmas-Wallpaper-19.png");
  background-size: cover;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 10px 10px;
}
.decoration {
  position: fixed;
  left: 0;
  top: calc(50% - 125px);
}
.container-day {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url("Pastel-Aesthetic-Christmas-Wallpaper-19.png");
  background-size: cover;
}
.container-code {
  z-index: 2;
}
.presents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.replit {
  padding: 10px;
  background: rgb(235,235,235);
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  font-family: sans-serif;
  color: black;
  font-size: 0.8em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 130px;
}
.replit svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
iframe {
  margin-top:10px;
}
.day {
  width: 150px;
  height: 150px;
  ;
}
.solutions {
  position: absolute;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-end;
  width: 150px;
  height: 150px;
  z-index: 3;
}

.solution {
  position: relative;   
  margin: 3px;
  height: 35px;
}

.solution img{
  width: 20px;
  height: 20px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.solution svg {
  position: absolute;
  top: -5px;
  left:5px;
  width: 20px;
}
.solution img {
  top:5px;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.solution.js img {
  /* border: 2px solid hsl(89, 63%, 70%); */
  /* background-color: hsl(89, 63%, 95%); */
}
.solution.py img {
  /* border: 2px solid hsl(44, 75%, 70%); */
  /* background-color: hsl(44, 75%, 95%); */
}
.solution.rs img {
  /* border: 2px solid hsl(21, 100%, 70%); */
  /* background-color: hsl(21, 100%, 95%); */
}
.solution.go img {
  /* border: 2px solid hsl(186, 54%, 70%); */
  /* background-color: hsl(186, 54%, 95%); */
}
.solution.js path {
  fill: hsl(89, 63%, 50%);
}
.solution.py path {
  fill: hsl(44, 75%, 50%);
}
.solution.rs path {
  fill: hsl(21, 100%, 50%);
}
.solution.go path {
  fill: hsl(186, 54%, 50%);
}
