.present {
    width: 205px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.box, .lid {
    position: relative;
    margin: 0 auto;
}
.box {
    width: 200px;
    height: 125px;
}
.lid {
    width: 200px;
    height: 35px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0 2px;
    /* transitions */
    top: 0;
    left: 0;
    transition: 
    top ease-out 0.5s,
    left ease-out 0.5s,
    transform ease-out 0.5s;
}
.box span, .lid span {
    position: absolute;
    display: block;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}
.box span:first-child {
    width: 100%;
    height: 30px;
    top: 40px;
}
.box span:last-child, .lid span {
    width: 30px;
    height: 100%;
    left: 85px;
}
.box img {
    position: absolute;
    display: block;
    z-index: 3;
    width: 70px;
    height: 70px;
    left: 55px;
    top: 20px;
    background: white;
    padding: 10px;
    border-radius: 20px;
}
.lid span {
    left: 87px;
}

/* hover effects */
.present:hover .lid {
    top: -50px;
    transform: rotateZ(10deg);
    left: 10px;
}